<div *ngIf="!isLoading; else other">
    <div class="m-3">
        <p-card>
            <!-- START TABLE -->
            <p-table styleClass="p-datatable-sm" #dt1 [value]="someSlideshow" dataKey="id" [loading]="loading"  [paginator]="true" [rows]="5" [showCurrentPageReport]="true" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5, 10,25,50]"
            [globalFilterFields]="['number']">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <h2 class="p-mr-auto p-my-auto">Image</h2>
                    <p-button type="button" icon="pi pi-plus" styleClass=" p-ml-auto p-mr-1" (click)="showDialog()"></p-button>
                    <span class="p-input-icon-left  p-my-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>No</th>
                        <th>Image</th>
                        <th>Order</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{number }}</td>
                        <td><img [src]="baseUrl + item.image" [alt]="item.image" height="100" class="p-shadow-4" /></td>
                        <td>{{item.number}}</td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded mr-1"  (click)="imageClick(item)"></button>
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-1" (click)="showDialog(item)"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger mr-1" (click)="showConfirm(item)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
            <!-- gallerie -->
            <p-galleria class="test" [(value)]="someSlideshow" [(visible)]="displayBasic" [(activeIndex)]="activeIndex" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '850px'}" [numVisible]="7"
            [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000" [ngStyle]="{'width': width}"> 
            <ng-template pTemplate="item" let-image>
                <img [src]="baseUrl + image.image" style="height: 500px; display: block;"/>
            </ng-template>
            <ng-template pTemplate="thumbnail" let-image>
                <div class="p-grid p-nogutter p-justify-center">
                    <img [src]="baseUrl+ image.image" style="display: block;"/>
                </div>
            </ng-template>
        </p-galleria>
        <!-- end gallerie -->
    
        <!-- start dialog -->
        <p-dialog header="Title" [(visible)]="display" *ngIf="display">
            <div *ngIf="selectedImage">
                
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="image">Image</label>
                            <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="onUpload($event)"></p-fileUpload>
                        </div>
                        <div class="p-field">
                            <label for="lastname1">Number</label>
                            <input id="lastname1" type="text" [(ngModel)] = "selectedImage.number" pInputText> 
                        </div>
                        <input type="hidden" [(ngModel)]="selectedImage.image">
                        <input type="hidden" [(ngModel)]="selectedImage.id">
                    </div>
                    <button pButton type="button" label="Success" class="p-button-success" icon="pi pi-check" iconPos="left" (click)="onClick(param)"></button>
              
            </div>
        </p-dialog>
        </p-card>
        <!-- end dialog -->
    
        <!-- toast message -->
        <p-toast></p-toast>
    
        <!-- toast confirm -->
        <p-toast position="center" key="c" [baseZIndex]="5000">
            <ng-template let-message pTemplate="message">
                <div class="p-flex p-flex-column" style="flex: 1">
                    <div class="p-text-center">
                        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                        <h4>{{message.summary}}</h4>
                        <p>{{message.detail}}</p>
                    </div>
                    <div class="p-grid p-fluid">
                        <div class="p-col-6">
                            <button type="button" pButton (click)="onConfirm()" label="Ya" class="p-button-success"></button>
                        </div>
                        <div class="p-col-6">
                            <button type="button" pButton (click)="onReject()" label="Tidak" class="p-button-secondary"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-toast>
    </div>
</div>

<ng-template #other>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class=" d-inline-block">
            <p-progressSpinner ></p-progressSpinner>
            
        </div>
    </div>
</ng-template>






