/* START HISTORY */
.title-history{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    color: #000748;
}

.content-history{
    max-height: 357px;
    overflow: hidden;
}

.figure {
  width: 100% !important;
}

@include media-breakpoint-up(md) {
    .title-history{
      font-size: 30px;
    }
  }
  @media only screen and (max-width: 600px) {
    .title-history{
        font-size: 20px;
        line-height: 35px;
      }
      .content-history{
          text-align: justify;
      }
    }
  
/* END HISTORY */