
<app-navbar  [marginBottom]="marginBottomNavbar" [backgroundColor]="backgroundColorNavbar" [textWhite]=true></app-navbar>

<app-caraosel [data]="slideshow" [hidden]="isCarouselHidden"></app-caraosel>

<app-features [marginBottom]="marginBottomFeatures" [hidden]="isFeaturesHidden"></app-features>

<app-hero [data]="profile" ></app-hero>

<app-features [hidden]="isSecondFeaturesHidden"></app-features>

<app-news-list [data]="event" [background]="gray"></app-news-list>

<app-news-list [data]="biografi" [background]="white"></app-news-list>

<app-news-list [data]="bathsul" [background]="gray"></app-news-list>
<app-footer></app-footer>
