/* START FOOTER */
.footer-title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000748;
}
.footer-text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
    color: #515151;
}
/* END FOOTER */